* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  flex: 0 0 25%;
}

.main {
  flex: 0 0 75%;
  font-size: 2rem;
}

.footer {
  flex: 0 0 100%;
  display: flex;
}

.footer p {
  padding-right: 10px;
}

.contrastBad {
  background-color: #dfdfdf;
  color:#70caab;
  width: 100%;
  height: 100px;
  padding: 1rem;
}

.contrastAA {
  background-color:#dfdfdf;
  color: #51786b;
  width: 100%;
  height: 100px;
  padding: 1rem;
}

.contrastAAA {
  background-color: #dfdfdf;
  color: #2c493b;
  width: 100%;
  height: 100px;
  padding: 1rem;
}

.smallText {
  font-size: 1rem;
}
