* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  flex: 0 0 25%;
}

.main {
  flex: 0 0 75%;
  height: 100px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.footer {
  flex: 0 0 100%;
  display: flex;
}

.footer p {
  padding-right: 10px;
}

.smallButton {
  width: 16px;
  height: 16px;
}

@media (pointer: coarse) {
  main {
    scrollbar-width: auto;
  }

  main::-webkit-scrollbar  {
    background-color: black;
    width: 44px;
  }

  main::-webkit-scrollbar-thumb {
    background-color: red;
  }

  .smallButton {
    width: 44px;
    height: 44px;
  }
}

.smallButtonAA {
  width: 24px;
  height: 24px;
}

.smallButtonAAA {
  width: 44px;
  height: 44px;
}
