* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  flex: 0 0 25%;
}

.main {
  flex: 0 0 75%;
  font-size: 2rem;
}

.footer {
  flex: 0 0 100%;
  display: flex;
}

.footer p {
  padding-right: 10px;
}

.error {
  color: red;
  font-size: 3rem;
}

.error img {
  width: 40px;
}

/* .error:before {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: red;
  display: inline-block;
  margin-right: 10px;
} */

.check {
  color: green;
  font-size: 3rem;
}

/* .check:before {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: green;
  display: inline-block;
  margin-right: 10px;
} */

.check img {
  width: 40px;
  transform: scale(1.3);
}
